.shop-header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.shop-header .logo {
    font-family: 'Mate SC', serif;
    font-size: 2.5rem;
    padding-left: 1rem;
}

.shop-header .logo:hover {
    cursor: pointer;
}

.shop-header .shopping-cart-wrapper {
    margin: 10px;
    font-size: 1.3rem;
}

.shop-header .shopping-cart-wrapper:hover {
    cursor: pointer;
}

.shop-header .shopping-cart-wrapper .shopping-cart {
    margin-right: 10px;
    color: orangered;
    font-size: 2rem;
}